body {
  Font-family: Helvetica;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

/*The main header*/
 #div1 {
  color: white;
  background-color: RGB(60,60,60);
  text-align: center;
  vertical-align: middle;
  height: 70px;
  margin: 0px;
  padding: 1px;
    }
/*The part where you can select betwen several views*/
#div2 {
  text-align: center;
  background-color: RGB(100,100,100);
  height: 50px;
  margin: 0px;
  padding: 1px;
  }
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
a {
  color: white;
  font-size: 1.2em;
  }
.i{
  display: list-item;
  padding: 0px 10px 0px 10px;
}


/*D3 part */
.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8;}

.axis path, .axis line {
  fill: black;
  stroke: black;
  stroke-width: 1.5;
  shape-rendering: crispEdges;
}

.circle{
	opacity: 0.5;
}

.selected-circle{
	opacity: 0.8;
}

.axis text {
  font-size: 0.8em
}

.mouseover_text {
	font-family: sans-serif;
	font-size: 10px;
	fill: black;
}

/*Bars*/
.bar{
	opacity: 0.5
}
.selected-bar{
	opacity: 0.8;
}

.bar2{
	fill: RGBA(150,150,150,.5);
}
.selected-bar2{
	fill: green !important;
}

/*Map related*/
.country{
	fill: RGB(220,220,220);
	stroke: black;
	stroke-width: 0.2;
}
.selected-country{
	fill: RGB(180,180,180);
}
.flow{
	stroke: black;
}
.selected-flow{
	stroke: green !important;
}

/*Slider intro*/
#div3{
  font-size: 1.2em;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-left: 100px;
  margin-right: 100px;
  }

/*Slider*/
.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}

#div4 {
	font-size: 0.8em;
}

h3, h4, h5 {
	text-align: center;
}
h4, h5 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#div5 {
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
}
/*Some style for the intro and the impressum*/
.lists {
	text-align: left;
	margin-left: 60px;
}
#main  {
  color: black;
  font-size: 1em;
  }

/*Some style for the findings in the intro*/
.mig1992 {
  fill: rgba(20,20,20,.8 );
}
#div1992TopMig, #divLatestMig{
  text-align: center;
}

#mainLegend text {
	font-size: 0.8em;
}
